<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        {% if title %}
        <title>{{ title }} - bibframe2schema.org</title>
        {% else %}
        <title>bibframe2schema.org</title>
        {% endif %}
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='bibframe2schema.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='highlight/googlecode.css') }}">
    <script src="{{ url_for('static', filename='highlight/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('static', filename='clipboard/clipboard.min.js') }}"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
		function navFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
		    x.className += " responsive";
		  } else {
		    x.className = "topnav";
		  }
		}
	</script>
    
    </head>
    <body>
        <a href="/"><img class="logo" src="{{ url_for('static', filename='bibframe2schema.png') }}" alt="bibframe2schema.org"></a>
        <div class="topnav" id="myTopnav">
            <a href="/index">Home</a>
            <a href="/compare">Comparison Viewer</a>
            <a href="https://www.w3.org/community/bibframe2schema/">Community</a>
			<a href="https://www.w3.org/community/bibframe2schema/wiki">Wiki</a>
            <a href="https://lists.w3.org/Archives/Public/public-bibframe2schema/">Mailing List</a>
            <a href="https://github.com/RichardWallis/bibframe2schema">Code</a>
			<a href="javascript:void(0);" class="icon" onclick="navFunction()"><img height="20" src="{{ url_for('static', filename='menu-bar-icon-white.png') }} "></a>
        </div>
        <hr>
        <div class="messages">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
        <hr style="width: 95%;">
      <p style="font-size: smaller">
		V1.02 - bibframe2schema.org Community Group - 2020 - <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" height="15" style="border-style: none;" alt="CC0" />
  </a>
  <br/>
  	  </p>
        
    </body>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-28146141-2');
	</script>
	<!-- Schema.org definition -->
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"@id": "https://bibframe2schema.org",
		"name": "bibframe2schema.org",
		"description": "A community initative to develop of a reference mapping between
		 the BIBFRAME 2.0 and Schema.org vocabularies, and sharing the of reference software implementations.",
		 "logo": "https://bibframe2schema.org/static/bibframe2schema.png",
		 "email": "info@bibframe2schema.org",
		"url": "https://bibframe2schema.org",
		"sameAs": "https://www.w3.org/community/bibframe2schema/",
		"contactPoint": {
			"@type": "ContactPoint",
			"email": "info@bibframe2schema.org",
			"contactType": "Information"
		},
		"founder": {
			"@type": "Person",
			"name": "Richard Wallis",
			"sameAs": ["https://www.dataliberate.com/richardwallis/",
						"https://twitter.com/rjw"]
		}
	}
	</script>
</html>
