{% extends "base.html" %}

{% block content %}
<link rel="canonical" href="https://bibframe2schema.org/compare" />

<script src="{{ url_for('static', filename='compare.js') }}"></script>

<script>

    $(document).ready(function(){
        setTimeout(function(){
            var sel = $('.inputselector a[data-selects="upload"]');
            if (typeof sel.onclick == "function") {
                elem.onclick.apply(sel);
            }
        }, 0);
    })
 
</script>

    <h1>Comparison Viewer</h1>
<div class="content">
    <p>
        <span style="font-size: smaller;">Demonstration of output from mapping scripts under development by the bibframe2schema.org community group.</span>
    </p>
    <div class='ds-selector-tabs ds-selector inputselector'>
      <div class='selectors'>
        <a data-selects='search' class='selected'>Search</a>
        <a data-selects='upload' class=''>Upload File</a>
        <a data-selects='paste' class=''>Paste Code</a>
	  </div>
	    <div class="selectionPanel ds-selection selected search">
	        <form method="post" onsubmit="return hideData(this)" novalidate>
	            {{ form.hidden_tag() }}
	            <p>
	                <div >
	                    {{ form.source.label }}
						{{ form.source() }}
	                </div>
	            </p>
	            <p>
	                <div class="selectInput">
	                    {{ form.sourceType.label }}
	                    {{ form.sourceType() }}
	                </div>
	                <div class="selectInput">
	                    {{ form.sourceFormat.label }}
	                    {{ form.sourceFormat() }}
	                </div>
	                <div class="selectInput">
	                    {{ form.outFormat.label }}
	                    {{ form.outFormat() }}
	                </div>
	            </p>
	            <p>
	                <span class="submit">
	                    {{ form.submit() }}
	                </span>
	            </p>
	        </form>
	    </div>
	    <div class="selectionPanel ds-selection upload">
	        <form method="post" onsubmit="return hideData(this)" enctype="multipart/form-data">
	            {{ uploadForm.hidden_tag() }}
	            <p>
	                <div >
	                    <!-- {{ pasteForm.pasteSource.label }} -->
						{{ uploadForm.uploadFile(class="uploadSource") }}
                        <span class="uploadValidationError">{{ ', '.join(uploadForm.uploadFile.errors) }}</span>
	                </div>
	            </p>
	            <p>
	                <div class="selectInput">
	                    {{ uploadForm.uploadOutFormat.label }}
	                    {{ uploadForm.uploadOutFormat() }}
	                </div>
	            </p>
	            <p>
	                <span class="submit">
	                    {{ uploadForm.uploadSubmit() }}
	                </span>
	            </p>
	    </div>
	    <div class="selectionPanel ds-selection paste">
	        <form method="post" onsubmit="return hideData(this)" novalidate>
	            {{ pasteForm.hidden_tag() }}
	            <p>
	                <div >
	                    <!-- {{ pasteForm.pasteSource.label }} -->
						{{ pasteForm.pasteSource(rows=10, cols=100, class="pasteSource", wrap="off", placeholder="Paste your BIBFRAME") }}
	                </div>
	            </p>
	            <p>
	                <div class="selectInput">
	                    {{ pasteForm.pasteSourceFormat.label }}
	                    {{ pasteForm.pasteSourceFormat() }}
	                </div>
	                <div class="selectInput">
	                    {{ pasteForm.pasteOutFormat.label }}
	                    {{ pasteForm.pasteOutFormat() }}
	                </div>
	            </p>
	            <p>
	                <span class="submit">
	                    {{ pasteForm.pasteSubmit() }}
	                </span>
	            </p>
	        </form>
	    </div>
	</div>
    <div class="spinner">
        <div class="lds-spinner">
            <div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div>
        </div>
    </div>
    {% if dataToDisplay %}
    <div class="data">
        <div class='ds-selector-tabs ds-selector'>
          <div class='selectors'>
            <a data-selects='source' class=''>Source Bibframe</a>
            <a data-selects='full' class=''>Bibframe + Schema.org</a>
            <a data-selects='schema'  class='selected'>Schema.org</a>
			<div class="tooltip">	
				<button class="clip" data-clipboard-target=".ds-selection.selected code" title="Copy to clipbard">
				    <img src="{{ url_for('static', filename='clipboard/clippy.svg') }}" width="13" alt="Copy to clipboard">
				</button>
				<span class="tooltiptext">Copied</span>
			</div>
        </div>
        {% if dataSource %}
            <pre class="ds-selection datapanel clip source " id="data-source">
                <code class=" {{ diplaylang }} ">
{{ dataSource }}
                </code>
            </pre>
            {% endif %} <!-- dataSource -->
        {% if dataFull %}
            <pre class="ds-selection datapanel clip full" id="data-full">
                <code class=" {{ diplaylang }} ">
{{ dataFull }}
                </code>
            </pre>
            {% endif %} <!-- dataFull -->
        {% if dataSchema %}
            <pre class="ds-selection datapanel clip schema selected" id="data-schema">
                <code class=" {{ diplaylang }} ">
{{ dataSchema }}
                </code>
            </pre>
         {% endif %} <!-- dataSchema -->
    </div>
	{% if akLoC %}
        <span style="font-size: small; font-style: italic;">Bibframe data sourced via an API provided by <a href="https://www.loc.gov/standards/sru/resources/lcServers.html">The Library of Congress</a></span><br/>
    {% endif %}
	<span style="font-size: small; font-style: italic;"><a href="{{ scriptUsed }}">SPARQL Script</a> used in this comparison</span>
    {% endif %} <!-- dataToDisplay -->
        
</div>

{% endblock %}
