{% extends "base.html" %}

{% block content %}

<h1>Compare</h1>
<div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.source.label }}
            {{ form.source(size=32) }}
        </p>
        <p>
            {{ form.sourceType.label }}
            {{ form.sourceType() }}
        </p>
        <p>
            {{ form.sourceFormat.label }}
            {{ form.sourceFormat() }}
        </p>
        <p>
            {{ form.outFormat.label }}
            {{ form.outFormat() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>

{% endblock %}
