{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
       setTimeout(function(){
          $('.ds-selector-tabs .selectors a').click(function() {
            var $this = $(this);
            var $p = $this.parents('.ds-selector-tabs');
            $('.selected', $p).removeClass('selected');
            $this.addClass('selected');
            $('pre.' + $this.data('selects'), $p).addClass('selected');
          });
        }, 0);
		new ClipboardJS('.clip');
    });
	
    function hideData(form){
        $('.data').addClass('hidden')
        $('.spinner').addClass('showSpinner')
        return true
    }
</script>
<h1>Compare Schema</h1>
<div class="content">
    <div class="selectionPanel">
        <form action="" method="post" onsubmit="return hideData(this)" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <span class="selectInput">
                    {{ form.source.label }}
                    {{ form.source(size=75) }}
                </span>
            </p>
            <p>
                <span class="selectInput">
                    {{ form.sourceType.label }}
                    {{ form.sourceType() }}
                </span>
                <span class="selectInput">
                    {{ form.sourceFormat.label }}
                    {{ form.sourceFormat() }}
                </span>
                <span class="selectInput">
                    {{ form.outFormat.label }}
                    {{ form.outFormat() }}
                </span>
            </p>
            <p>
                <span class="submit">
                    {{ form.submit() }}
                </span>
                <div class="spinner">
                    <div class="lds-spinner">
                        <div></div><div></div><div></div><div></div>
                        <div></div><div></div><div></div><div></div>
                        <div></div><div></div><div></div><div></div>
                    </div>
                </div>
            </p>
        </form>
    </div>
    {% if dataToDisplay %}
    <div class="data">
        <div class='ds-selector-tabs ds-selector'>
          <div class='selectors'>
            <a data-selects='source' class=''>Source Bibframe</a>
            <a data-selects='full' class=''>Bibframe + Schema.org</a>
            <a data-selects='schema'  class='selected'>Schema.org</a>
			<button class="clip" data-clipboard-target=".datapanel.selected code" title="Copy to clipbard">
			    <img src="{{ url_for('static', filename='clipboard/clippy.svg') }}" width="13" alt="Copy to clipboard">
			</button>
        </div>
        {% if dataSource %}
            <pre class="datapanel clip source " id="data-source">
                <code class=" {{ diplaylang }} ">
{{ dataSource }}
                </code>
            </pre>
            {% endif %} <!-- dataSource -->
        {% if dataFull %}
            <pre class="datapanel clip full" id="data-full">
                <code class=" {{ diplaylang }} ">
{{ dataFull }}
                </code>
            </pre>
            {% endif %} <!-- dataFull -->
        {% if dataSchema %}
            <pre class="datapanel clip schema selected" id="data-schema">
                <code class=" {{ diplaylang }} ">
{{ dataSchema }}
                </code>
            </pre>
         {% endif %} <!-- dataSchema -->
    </div>
    {% endif %} <!-- dataToDisplay -->
        
</div>

{% endblock %}
