{% extends "base.html" %}

{% block content %}

<div style="max-width: 900px; margin-left: 10px;font-size: 1.2em;">
<p><strong>Bibframe2Schema.org</strong> is a community initative with the following initial objectives:</p>
<ul>
    <li>The creation of a reference mapping from <a href="https://www.loc.gov/bibframe/BIBFRAME">BIBFRAME 2.0</a>† to <a href="https://schema.org">Schema.org</a>.</li>
    <li>The development and sharing of reference software implementation(s) to:
        <ul>
            <li>Enrich BIBFRAME data with Schema.org Terms</li>
            <li>Create Schema.org terms from BIBFRAME 2.0 data</li>
        </ul>
    </li>
</ul>
<p>
    <span style="font-size: smaller;"><em>†Bibframe 2.0 as per the Library of Congress <a href="https://www.loc.gov/bibframe/docs/index.html">BIBFRAME definition</a> and <a href="https://www.loc.gov/bibframe/mtbf/">MARC conversion specifications</a>.</em></span>
    
</p>
<p>To assist understanding and development this site hosts a <a href="/compare.html">Comparison Tool</a>. This web tool enables the loading of Bibframe files, including those available from the Library of Congress, and proccessing them with the latest version of conversion script, demonstrating the Schema.org output equivalent.
<p>
This site links to the <a href="https://www.w3.org/community/bibframe2schema/">W3C Community Group</a> that supports the discssions towards the evolution of relevant tools and conversion standards.
</p>
<p>
Discussions take place on the <a href="https://lists.w3.org/Archives/Public/public-bibframe2schema/">community mailing list</a>, and within the <a href="https://www.w3.org/community/bibframe2schema/wiki">community wiki</a>.  These are open to all to participate.
</p>
<p>
Produced code and conversion scripts are held in a <a href="https://github.com/RichardWallis/bibframe2schema">Github repository</a> under an open source <a href="https://github.com/RichardWallis/bibframe2schema/blob/master/LICENSE">license</a>.
</p>
<p>
For questions and furher details email <a href="mailto:info@bibframe2schema.org">info@bibframe2schema.oeg</a>, or contact Community Group Chair <a href="mailto:Richard.Wallis@dataliberate.com">Richard Wallis</a> - <a href="https://twitter.com/rjw">@rjw</a>.
</div>


{% endblock %}
